<%- include("partials/header") %>
<div class='navbar'>
    <%- include("partials/navbar") %>
</div>

<div>
    <ul class="item_list">
        <li>
            Dolma Aunty... lajpat nagar... momos
        </li>
    </ul>
</div>

<%- include("partials/footer") %>
