<%- include("partials/header") %>
<div class='navbar'>
    <%- include("partials/navbar") %>
</div>

<div>
    <ul class="item_list">
        <li>
            Jama Masjid
        </li>
    </ul>
</div>